[grabbers]
  [grabbers."route-collector.scl.pch.net"]
  # run at 6:34 AM everyday
  hour = 6
  minutes = 34

  [grabbers."route-collector.ros.pch.net"]
  # run at 6:50 AM everyday
  hour = 6
  minutes = 50
